
 <!-- Genre 1  -->
 <h4 class="Genres"> Genre 1 </h4>
 <div class="row" >
   <div class="column"   *ngFor="let data of myData, let i = index" >
     <div class="card" *ngIf="data.genres[0] == 'Action' || 'drama'">
       <h3>{{data.title}}</h3>
         <img src={{data.poster}}  alt="Avatar" class="image" (click)="getDetails(data.title)">
       <p>Released_on :  {{data.released_on |date: 'dd/MM/yyyy'}}</p>
       <p>Director :   {{data.director}}</p>
     </div>
   </div>
 </div>
 
  
<!--  Genres 2 -->
 <!-- <h4 class="Genres"> Genres 2 </h4>
 <div class="row">
   <div class="column" *ngFor="let data of myData, let i = index">
     <div class="card" *ngIf="data.genres[i] ==  'Drama' ||  'Biography' ">
       <h3>{{data.title}}</h3>
       <p>Some text</p>
       <p>Some text</p>
     </div>
   </div>
 </div> -->
 
 
 
 <!-- Genres 3 -->
 <!-- <h4 class="Genres">  Genres 3 </h4>
 <div class="row">
   <div class="column"  *ngFor="let data of myData, let i = index">
     <div class="card" *ngIf="data.genres[i] == 'Sci-Fi'||'Romance'">
       <h3>{{data.title}}</h3>
     </div>
   </div>
 
 
 </div> -->
