

<!-- Genres 1 --> 
<h4 class="Genres"  *ngIf="filtered"> Genre  1</h4> 
<div class="row"  *ngIf="filtered">
  <div class="column" *ngFor="let data of myData | async, let i = index">
    <div class="card" *ngIf="getgenresone(data)">
     <h6>{{data.title}}</h6>
     <img src={{data.posterr}}  alt="Avatar" class="image" (click)="getDetails(data)">
   <p>Released_on :  {{data.released_on |date: 'dd/MM/yyyy'}}</p>
   <p>Director :   {{data.director}}</p>
    </div>
  </div>
</div> 


 
 <!-- Genres 2 --> 
  <h4 class="Genres"  *ngIf="filtered"> Genre 2 </h4> 
 <div class="row"  *ngIf="filtered">
   <div class="column" *ngFor="let data of myData | async ; let i = index">
     <div class="card" *ngIf="getgenres(data)">
      <h6>{{data.title}}</h6>
      <img src={{data.posterr}}  alt="Avatar" class="image" (click)="getDetails(data)">
    <p>Released_on :  {{data.released_on |date: 'dd/MM/yyyy'}}</p>
    <p>Director :   {{data.director}}</p>
     </div>
   </div>
 </div> 
 
 
 
 <!-- Genres 3 --> 
 <h4 class="Genres" *ngIf="filtered"> Genre 3 </h4> 
 <div class="row" *ngIf="filtered">
   <div class="column" *ngFor="let data of myData |async, let i = index">
     <div class="card" *ngIf="getgenresthree(data)">
      <h6>{{data.title}}</h6>
      <img src={{data.posterr}}  alt="Avatar" class="image" (click)="getDetails(data)">
    <p>Released_on :  {{data.released_on |date: 'dd/MM/yyyy'}}</p>
    <p>Director :   {{data.director}}</p>
     </div>
   </div>
 </div> 
 


 <!-- filtered Data -->
 <h4 class="Genres" *ngIf="filtered"> Filtered Data </h4> 
 <div class="row" *ngIf="filtered">
   <div class="column" *ngFor="let data of filteredData, let i = index">
     <div class="card">
      <h6>{{data.title}}</h6>
      <img src={{data.posterr}}  alt="Avatar" class="image" (click)="getDetails(data)">
    <p>Released_on :  {{data.released_on |date: 'dd/MM/yyyy'}}</p>
    <p>Director :   {{data.director}}</p>
     </div>
   </div>
 </div> 

 